<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

        <!-- styles -->
        <link href="{{ asset('bundles/app/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/animate.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/owl.carousel.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/app/css/owl.theme.css') }}" rel="stylesheet">

        <!-- theme stylesheet -->
        <link href="{{ asset('bundles/app/css/style.default.css') }}" rel="stylesheet" id="theme-stylesheet">

        <!-- your stylesheet with modifications -->
        <link href="{{ asset('bundles/app/css/custom.css') }}" rel="stylesheet">

        <script src="{{ asset('bundles/app/js/respond.min.js') }}"></script>

        <link rel="shortcut icon" href="favicon.png">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}{% endblock %}
        </div>
        {% block body %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

        <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
        <script src="{{ asset('bundles/app/js/jquery-1.11.0.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/jquery.cookie.js') }}"></script>
        <script src="{{ asset('bundles/app/js/waypoints.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/modernizr.js') }}"></script>
        <script src="{{ asset('bundles/app/js/bootstrap-hover-dropdown.js') }}"></script>
        <script src="{{ asset('bundles/app/js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/front.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
