{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
  <h2>Registrate!!</h2>
  <br></br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
              {#{ form_widget(form) }#}
              <div class="form-group">
                {{ form_errors(form) }}
                <p>
                <label>Email</label>
                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'example@gmail.com'}}) }}
                </p>
                <p>
                <label>Nombre de Usuario</label>
    			{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                </p>
                <p>
                <label>Password</label>
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                </p>
                <p>
                <label>Confirmar Password</label>
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                </p>
                {{ form_rest(form) }}

                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Acepto las bases y condiciones.
                    </label>
                </div>

              </div>

                <button type="submit" class="btn btn-info">
                    Registrar
                </button>
            {{ form_end(form) }}
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
