<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link href="{{ asset('bundles/sistemafront/css/bootstrap.css') }}" rel="stylesheet"> 
            <link href="{{ asset('bundles/sistemafront/css/bootstrap-theme.css') }}" rel="stylesheet">
            <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
            <link href="{{ asset('bundles/sistemafront/css/Estilos.css') }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/sistemafront/js/jquery-3.1.0.min.js') }}"></script>>
            <script src="{{ asset('bundles/sistemafront/js/bootstrap.min.js') }}"></script>>
        {% endblock %}
    </body>
</html>
