{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="container">
  <h2>Iniciar Sesion!!</h2>
  <br></br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <form action="{{ path("fos_user_security_check") }}" method="post">
              <div class="form-group">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    			<label>Nombre de Usuario o Email</label>
    			<p>
    			<input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" />
    			</p>
    			<label>Contraseña</label>
    			<p>
    			<input type="password" id="password" class="form-control" name="_password" required="required" />
    			</p>
    			<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    			<label>recordar</label>

              </div>
                <button type="submit" id="_submit" name="_submit" class="btn btn-success">
                    Iniciar
                </button>
            </form>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>	

{% endblock fos_user_content %}
