{% extends 'BackBundle::layout.html.twig' %}

{% block title %}
    Modificar cómic
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="icon_plus_alt2"></i><strong> Modificar cómic</strong></h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting" title="Refrescar"><i class="fa fa-rotate-right"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                {{ form_start(edit_form) }}
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-4">
                                {{ form_row(edit_form.user) }}                                
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-2">
                                {{ form_row(edit_form.numero) }}                                
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6">
                                {{ form_row(edit_form.nombre) }}                                
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-12">
                                {{ form_row(edit_form.detalle) }}                                
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                {{ form_row(edit_form.precio) }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6">
                                {{ form_row(edit_form.comicFile) }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <h3>Previews <small style="color: #c51a1a;">(la 1ra imagen es la portada)</small></h3>
                                <hr style="border-top: 1px solid black;">
                                {% include 'BackBundle:Widget:add-imagenes.field.html.twig' with { 'form' : edit_form } %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-3">
                            <a class="btn btn-success" href="{{ path('listado_comics') }}" title="Volver" rel="tooltip" data-original-title="Volver"><span class="icon_profile"></span> Volver al listado</a>
                        </div>
                        <div class="col-lg-3">
                            {{ form_row(edit_form.save) }}
                        </div>
                    </div>
                    {{ form_rest(edit_form) }}
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent()}}

    <script type="text/javascript" src="{{ asset('bundles/back/js/addForm.js') }}"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>
        $(document).ready(function(){
            tinymce.init({ selector:'textarea' });

            function deleteRow($deleteButton) { 
                var $divContent = jQuery($deleteButton).parent().parent().parent();                                    
                $divContent.remove();      
            }    

            collectionImagenesHolder = jQuery('.imagenes-comic');

            collectionImagenesHolder.data('index', collectionImagenesHolder.find(':input').length)
            jQuery('.add-imagen-form').click(function(e) {
                e.preventDefault()
                addForm(collectionImagenesHolder, jQuery('.imagenes-comic'));
            })
            jQuery('.imagenes-comic').delegate('.delete-form','click', function(e) {
                deleteRow(this); 
            });
        });
    </script>
{% endblock %}