{% extends 'BackBundle::layout.html.twig' %}

{% block title %}
    Productos
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-flag-o red"></i><strong> Productos en stock</strong></h2>
                    <div class="panel-actions">
                        <a href="{{ path('listado_productos') }}" class="btn-setting" title="Refrescar"><i class="fa fa-rotate-right"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered bootstrap-datatable countries">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Portada</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.nombre }}</td>
                                    <td>${{ entity.precio }}</td>
                                    <td>
                                        {% if entity.imagenes|length > 0 %}
                                            <img class="card-img-top" style="width: 100px; height: 150px; margin-top: 1px; margin-bottom: 1px;" src="{{ asset(entity.imagenes[0].getWebPath()) }}">
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="icon_search" href="{{ path('admin_comic_show', { 'id': entity.id }) }}" title="Ver" rel="tooltip" data-original-title="Ver"></a>&nbsp;
                                        <a class="icon_tools" href="{{ path('admin_comic_edit', { 'id': entity.id }) }}" title="Editar" rel="tooltip" data-original-title="Editar"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-success" href="{{ path('admin_producto_new') }}" title="Crear Nuevo Producto" rel="tooltip" data-original-title="Nuevo Producto"><span class="icon_documents"></span> Nuevo Producto</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}