{% extends 'BackBundle::layout.html.twig' %}

{% block title %}
    Detalle cómic
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="icon_plus_alt2"></i><strong> Detalle cómic</strong></h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting" title="Refrescar"><i class="fa fa-rotate-right"></i></a>
                    </div>
                </div>
                </table>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <p>Usuario</p>
                            </div>
                            <div class="col-lg-4">
                                {{ entity.user }}                                
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <p>Número</p>
                            </div>
                            <div class="col-lg-2">
                                #{{ entity.numero }}                                
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <p>Nombre</p>
                            </div>
                            <div class="col-lg-6">
                                {{ entity.nombre }}                                
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <section class="panel">                        
                                    <header class="panel-heading">
                                        Detalle
                                    </header>
                                    <div class="panel-body">
                                        {{ entity.detalle|raw }}
                                    </div>
                                </section>                              
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <p>Precio</p>
                            </div>
                            <div class="col-lg-6">
                                ${{ entity.precio }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <p>Previews</p>
                            </div>
                            <div class="col-lg-12">
                                {% for img in entity.imagenes %}
                                    <img class="card-img-top" style="width: 156px; height: 212px; margin-top: 1px; margin-bottom: 1px;" src="{{ asset(img.getWebPath()) }}">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-3">
                            <a class="btn btn-success" href="{{ path('listado_comics') }}" title="Crear Nuevo comic" rel="tooltip" data-original-title="Nuevo Comic"><span class="icon_profile"></span>Volver al listado</a>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
{% endblock %}