{% extends 'BackBundle::layout.html.twig' %}

{% block title %}
    Editando Usuario
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="icon_plus_alt2"></i><strong> Editar Usuario</strong></h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting" title="Refrescar"><i class="fa fa-rotate-right"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                {{ form_start(edit_form) }}
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                {{ form_row(edit_form.enabled) }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                {{ form_row(edit_form.nombre) }}
                            </div>
                            <div class="col-lg-3">
                                {{ form_row(edit_form.apellido) }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-8">
                                {{ form_row(edit_form.detalle) }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                {{ form_row(edit_form.nacionalidad) }}
                            </div>
                            <div class="col-lg-3">
                                {{ form_row(edit_form.ocupacion) }}
                            </div>
                            <div class="col-lg-3">
                                {{ form_row(edit_form.telefono) }}
                            </div>
                            <div class="col-lg-3">
                                {{ form_row(edit_form.celular) }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-4">
                                {{ form_row(edit_form.username) }}
                            </div>
                            <div class="col-lg-4">
                                {{ form_row(edit_form.email) }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                                {{ form_label(edit_form.password) }}
                            <div class="col-lg-6">
                                {{ form_widget(edit_form.password) }}
                            </div>
                            {{ form_errors(edit_form.password) }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-6">
                                {{ form_row(edit_form.imageFile) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-3">
                            <a class="btn btn-success" href="{{ path('superadmin_user') }}" title="Crear Nuevo Usuario" rel="tooltip" data-original-title="Nuevo Usuario"><span class="icon_profile"></span>Volver al listado</a>
                        </div>
                        <div class="col-lg-3">
                            {{ form_row(edit_form.save) }}
                            {{ form_rest(edit_form) }}
                        </div>
                    </div>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}
