{% extends 'BackBundle::layout.html.twig' %}

{% block title %}
    Usuarios
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="fa fa-flag-o red"></i><strong> Usuarios Registrados</strong></h2>
                    <div class="panel-actions">
                        <a href="{{ path('superadmin_user') }}" class="btn-setting" title="Refrescar"><i class="fa fa-rotate-right"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered bootstrap-datatable countries">
                        <thead>
                            <tr>
                                <th>#id</th>
                                <th>Nombre y Apellido</th>
                                <th>Nombre de Usuario</th>
                                <th>Email</th>
                                <th>Rol</th>
                                <th>Activo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ entity.id }}</td>
                                    <td>{{ entity.nombre ~ ", " ~ entity.apellido }}</td>
                                    <td>{{ entity.username }}</td>
                                    <td>{{ entity.email }}</td>
                                    <td>
                                        {% for rol in entity.roles %}
                                            {{ rol|lower }} -
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% if entity.enabled %}
                                            <i class="icon_check_alt2" style="color: green"></i>
                                        {% else %}
                                            <i class="icon_close_alt2" style="color: red"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a class="icon_search" href="{{ path('superadmin_user_show', { 'id': entity.id }) }}" title="Ver" rel="tooltip" data-original-title="Ver"></a>&nbsp;
                                        <a class="icon_tools" href="{{ path('superadmin_user_edit', { 'id': entity.id }) }}" title="Editar" rel="tooltip" data-original-title="Editar"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-success" href="{{ path('superadmin_user_new') }}" title="Crear Nuevo Usuario" rel="tooltip" data-original-title="Nuevo Usuario"><span class="icon_profile"></span>Crear Nuevo Usuario</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
