{% extends 'BackBundle::layout.html.twig' %}

{% block title %}
    Detalle Usuario
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2><i class="icon_plus_alt2"></i><strong> Detalle Usuario</strong></h2>
                    <div class="panel-actions">
                        <a href="#" class="btn-setting" title="Refrescar"><i class="fa fa-rotate-right"></i></a>
                    </div>
                </div>
                </table>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <p>Nombre</p>
                            </div>
                            <div class="col-lg-6">
                                {{ entity.nombre }}                                
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <p>Apellido</p>
                            </div>
                            <div class="col-lg-6">
                                {{ entity.apellido }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <p>Nombre de Usuario</p>
                            </div>
                            <div class="col-lg-6">
                                {{ entity.username }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <p>Email</p>
                            </div>
                            <div class="col-lg-6">
                                {{ entity.email }}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <p>Activo</p>
                            </div>
                            <div class="col-lg-6">
                                {% if entity.enabled %}
                                    <i class="icon_check_alt2" style="color: green"></i>
                                {% else %}
                                    <i class="icon_close_alt2" style="color: red"></i>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-lg-3">
                                <p>Perfil</p>
                            </div>
                            <div class="col-lg-6">
                                <img class="card-img-top" style="width: 200px; height: 212px; margin-top: 1px; margin-bottom: 1px;" src="{{ asset('/uploads/img/users/' ~ entity.perfil) }}">
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-lg-3">
                            <a class="btn btn-success" href="{{ path('superadmin_user') }}" title="Crear Nuevo Usuario" rel="tooltip" data-original-title="Nuevo Usuario"><span class="icon_profile"></span>Volver al listado</a>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
{% endblock %}